/* Remove default spacing */
body {
    margin: 0;
    padding: 0;

    /* Font for app */
    font-family: Arial, Helvetica, sans-serif;

    /* background color */
    background-color: #f4f4f4;
}

/* Main app container */
.container {
    
    /*width */
    width: 90%;

    /*maximum width */
    max-width: 500px;

    /* center horizontally */
    margin: 50px auto;

    /*White background */
    background-color: white;

    /* Space inside container */
    padding: 20px;

    /* rounded corners */
    border-radius: 10px;

    /*soft shadow */
    box-shadow: 0px px 10px rgba(red, green, blue, alpha);
}

/* Title styling */
h1 {
    text-align: center;
}
/* input section layout */
.input-section {
    display: flex;
    
    gap: 10px;

    margin-bottom: 20px;
}
/*input styling */
input {
    flex: 1;

    padding: 10px;

    border: 1px solid #ccc;

    border-radius: 5px;

    font-size: 16px;
}

/*Button styling */
button {
    padding: 10px 15px;

    border: none;

    background-color: black;

    color: white;

    border-radius: 5px;

    cursor: pointer;

}

/* Remove list bullets */
ul {
    list-style: none;

    padding: 0;
}
/* Individual task item */
li {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 10px;

    margin-bottom: 10px;

    background-color: #f4f4f4;

    border-radius: 5px;
}

/*Completed task style */
.completed {
    text-decoration: line-through;

    opacity: 0.6;
}

/*Delete button */
.delete-btn {

    background-color: crimson;

    color: white;

    border: none;

    padding: 5px 10px;

    border-radius: 5px;

    cursor: pointer;
}